@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background-image: url('../public/image.png'); 
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
  line-height: unset;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.header1 {
  @apply text-h3 text-black leading-none;
}

.supporting {
  @apply text-s text-gray4 font-medium;
}

.title {
  @apply text-h1 text-black leading-none;
}

.cta {
  @apply uppercase font-bold leading-none;
}
